<!DOCTYPE html>
<html>
<head>

    <title>Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <nav class="navbar">

        <h2>Team Task Manager</h2>

        <div>

            <a href="/projects">Projects</a>

            <a href="/tasks">Tasks</a>

            <a href="/logout">Logout</a>

        </div>

    </nav>

    <div class="dashboard-container">

        <h1>Welcome, {{ name }}</h1>

        <p class="role">Role: {{ role }}</p>

        <div class="cards">

            <div class="card">
                <h2>{{ total_tasks }}</h2>
                <p>Total Tasks</p>
            </div>

            <div class="card">
                <h2>{{ completed_tasks }}</h2>
                <p>Completed</p>
            </div>

            <div class="card">
                <h2>{{ pending_tasks }}</h2>
                <p>Pending</p>
            </div>

            <div class="card">
                <h2>{{ in_progress_tasks }}</h2>
                <p>In Progress</p>
            </div>

            <div class="card overdue">
                <h2>{{ overdue_tasks }}</h2>
                <p>Overdue</p>
            </div>

        </div>

    </div>

</body>
</html>