<!DOCTYPE html>
<html>
<head>

    <title>Projects</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <nav class="navbar">

        <h2>Projects</h2>

        <div>

            <a href="/dashboard">Dashboard</a>

            <a href="/tasks">Tasks</a>

            <a href="/logout">Logout</a>

        </div>

    </nav>

    <div class="main-container">

        {% if role == 'Admin' %}

        <div class="form-box">

            <h2>Create Project</h2>

            <form method="POST">

                <input type="text" name="title" placeholder="Project Title" required>

                <textarea name="description" placeholder="Project Description" required></textarea>

                <button type="submit">Create Project</button>

            </form>

        </div>

        {% endif %}

        <div class="content-box">

            <h2>All Projects</h2>

            {% for project in projects %}

            <div class="project-card">

                <h3>{{ project.title }}</h3>

                <p>{{ project.description }}</p>

            </div>

            {% endfor %}

        </div>

    </div>

</body>
</html>