<!DOCTYPE html>
<html>
<head>

    <title>Signup</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <div class="form-container">

        <h2>Create Account</h2>

        <form method="POST">

            <input type="text" name="name" placeholder="Full Name" required>

            <input type="email" name="email" placeholder="Email Address" required>

            <input type="password" name="password" placeholder="Password" required>

            <select name="role">

                <option value="Admin">Admin</option>

                <option value="Member">Member</option>

            </select>

            <button type="submit">Signup</button>

        </form>

        <p>
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</body>
</html>